* {
	margin: 0;
	padding: 0;
}
main {
	max-width: 90%;
	margin: auto;
	background-color: rgba(194, 194, 181, 0.3);
}

.nh {
	margin: 10px 10px;
	/*max-height: 800px;*/
}
.image {
	display: inline-block;
	width: 48%;
}
.content {
	display: inline-block;

	padding: 5px;
	width: 45%;
	vertical-align: top;
	/*border:  1px solid black;*/
}

.sectionTitle {
	text-align: center;
}
.sectioncontent {
	padding-left: 20px;
	margin-bottom: 15px;
}

.headerText {
	display: inline-block;

	margin: 20px auto 30px auto;
}
.lucifer {
	margin: 20px auto 30px auto;
	text-align: center;
	vertical-align: top;
}

header {
	text-align: center;
}
